<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIF4IYIIJKW6DURPQ"/>
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="us-east-1"/>
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <log4net debug="true">
    <appender name="KinesisAppender" 
              type="log4net.Appender.KinesisAppender, log4net.Kinesis">
      <streamName value="YC-test" />
      <levelOfConcurrency value="YC-test" />
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="KinesisAppender" />
    </root>
  </log4net>
</configuration>